@import "tailwindcss";

/* Basic CSS reset */
:root {
  /* Colors */
  --background: #282828;
  --background-secondary: #383838;
  --text: #ffffff;
  --text-secondary: #aaa;

  /* Styling */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 30px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

svg,
picture,
img {
  display: block;
}

/* Utility classes */
.wrapper {
  --width: 1440px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: var(--flow-space, 1rem);
}
